DTDs/medium.dtd

<!ELEMENT medium_all (medium*) >
<!ELEMENT medium (id,tracklist,release,position,format,name,edits_pending,last_updated)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT tracklist (#PCDATA)>
<!ELEMENT release (#PCDATA)>
<!ELEMENT position (#PCDATA)>
<!ELEMENT format (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT edits_pending (#PCDATA)>
<!ELEMENT last_updated (#PCDATA)>