DTDs/recording.dtd

<!ELEMENT recording (id,gid,name,artist_credit,lenght,comment,edits_pending,last_updated)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT gid (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT artist_credit (#PCDATA)>
<!ELEMENT lenght (#PCDATA)>
<!ELEMENT comment (#PCDATA)>
<!ELEMENT edits_pending (#PCDATA)>
<!ELEMENT last_updated (#PCDATA)>