DTDs/release_group.dtd

<!ELEMENT release_group (id,gid,name,artist_credit,type,comment,edits_pending,last_updated)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT gid (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT artist_credit (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT comment (#PCDATA)>
<!ELEMENT edits_pending (#PCDATA)>
<!ELEMENT last_updated (#PCDATA)>