DTDs/track.dtd

<!ELEMENT track (id,recording,tracklist,position,name,artist_credit,length,edits_pending,last_updated,number)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT recording (#PCDATA)>
<!ELEMENT tracklist (#PCDATA)>
<!ELEMENT position (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT artist_credit (#PCDATA)>
<!ELEMENT length (#PCDATA)>
<!ELEMENT edits_pending (#PCDATA)>
<!ELEMENT last_updated (#PCDATA)>
<!ELEMENT number (#PCDATA)>