DTDs/work.dtd

<!ELEMENT work (id,gid,name,artist_credit,type,comment,edits_pending,last_updated,language)>
<!ELEMENT id (#CDATA)>
<!ELEMENT gid (#CDATA)>
<!ELEMENT name (#CDATA)>
<!ELEMENT artist_credit (#CDATA)>
<!ELEMENT type (#CDATA)>
<!ELEMENT comment (#CDATA)>
<!ELEMENT edits_pending (#CDATA)>
<!ELEMENT last_updated (#CDATA)>
<!ELEMENT language (#CDATA)>